.secacerca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5em;
  padding-left: 5em;
}

.secacerca .columnaacerca {
  font-size: 20px;
  text-decoration: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "Roboto", sans-serif;
  padding: 100px;
}

.secacerca .columnaacerca .columna_textacerca {
  padding: 10px;
  margin-left: 1em;
}

.secacerca .columnaacerca .columna_textacerca-g {
  color: #333;
}

.secacerca .columnaacerca .columna_textacerca-r {
  color: red;
}

.secacerca .columnaacerca .columna_textacerca-a {
  color: blue;
}

.secacerca .columnaacerca .columna_textacerca {
  color: #333;
}
