/*Map*/
/*Extend*/

.secacerca .columnaacerca {
  text-decoration: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "Roboto", sans-serif;
  padding: 100px;
  font-size: 20px;
  /*@Heach*/
  /*Map Get*/
}

.secacerca .columnaacerca .columna_textacerca-g {
  color: #333;
}

.secacerca .columnaacerca .columna_textacerca-r {
  color: red;
}

.secacerca .columnaacerca .columna_textacerca-a {
  color: blue;
}

.secacerca .columnaacerca .columna_textacerca {
  color: #333;
}
